body {
    font-family: 'Share Tech Mono', monospace;
}

.container {
    height: 510px;
    width: 235px;
    background-color: #22252d;
    border-radius: 15px;
}

.screen {
    height: 205px;
    width: 100%;
}

.keypad {
    height: 305px;
    width: 100%;
    background-color: #2a2d37;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.keypad-buttons {
    color: #ffffff;
    background-color: #22252d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;

    font-family: 'Share Tech Mono', monospace;
}

.keypad-buttons:active {
    transform: scale(0.9);
}

.color1 {
    color: #dd6b6b;
    font-size: 25px;
}

.color2 {
    color: #4fecd0;
}

.screen {
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

#operation {
    color: #ffffff;
    align-self: end;
    overflow-wrap: anywhere;
    vertical-align: middle;
}

#operation > .color1 {
    vertical-align: middle;
}

#result {
    color: #ffffff;
    font-size: 30px;
    overflow-wrap: anywhere;
}